p {
    /* Font */
    
    font-size: 12px;

}

/* Navigation Bar */

.NavigationBar{
    background-color: yellowgreen;
}

.NavigationBar a {
    font-size: 16px;
    color: blueviolet;
}

/* WebRing Links */

.WebRingLinks{
    background-color: chocolate;
}

.WebRingLinks a {
    font-size: 16px;
    color: cyan;
}
