/* About Me Slides */
.about-me-slides-container {
    width: 50%;

    padding: 0.25%;
}

.about-me-slides-images{
    display: none;
}

.about-me-slides-button{
    background-color: rgb(250, 250, 250);

    border-radius: 3px;
    border: groove;
    border-width: 6px;

    padding: 10px;

    top: 50%;

    cursor: pointer;
    
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
    font-size: 18px;
}

.about-me-slides-button:hover{
    color: rgba(0, 0, 0, 1);
}

.next-button{
    right: 10%;
}

.previous-button{
    left: 10%;
}
