.about-me-slides-images{
    display: none;
}

.about-me-slides-container{
    margin: 5px;

}

.about-me-slides-button{
    cursor: pointer;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);


    color: white;
    font-weight: bold;
    font-size: 18px;

    border-radius: 3px;
}

.about-me-slides-button:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

.next-button{

}

.previous-button{

}

.fade{
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade{
    from {opacity: 0.4;} to {opacity: 1} ;
}
