.about-me-slides-images{
    display: none;
    height: 100%;
    width: 100%;
}

.about-me-slides-container{
    margin: 5px;
    max-width: 1000px;
    max-height: 500px;
    float: left;

}

.about-me-slides-button{
    cursor: pointer;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);

    top: 50%;

    color: white;
    font-weight: bold;
    font-size: 18px;

    border-radius: 3px;
}

.about-me-slides-button:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

.next-button{
    right: 10%;
}

.previous-button{
    left: 10%;

}
