
body {
    margin: 0.75%;
    background-color: rgb(179, 157, 202);
    font-family: rubik;
}

/* Font */
@font-face {
    font-family: rubik;
    src: url(./Rubik-VariableFont_wght.ttf);
}

/* Images/GIFs General Properties*/
.image-attachment{
    border: 5px;
    border: ridge;
}

/* Navigation Bar */
.navigation-bar{

    margin-bottom: 20px;

    border: groove;
    border-width: 10px;

    height: 55px;
    background-color: rgb(88, 76, 101);

    padding: 10px;
}

.navigation-bar a, b {
    margin-left: 5%;
    font-size: 45px;
    color: rgb(250, 250, 250);
}


/* Short About Me Section */
.about-me-short{
    border: groove;
    border-width: 10px;

    padding: 20px;

    background-color: rgb(120, 103, 137);
    color: ghostwhite;
}

.about-me-short a{
    color: ghostwhite;
}

/* WebRing Links */

.webring-links{
    background-color: chocolate;
}

.webring-links a {
    font-size: 16px;
    color: cyan;
}
