/* Whole Body */
body {
    margin: 1%;
    background-color: rgb(179, 157, 202);
    font-family: rubik;
}

/* Font */
@font-face {
    font-family: rubik;
    src: url(./Rubik-VariableFont_wght.ttf);
}

/* Images/GIFs General Properties*/
.image-attachment{
    border: 5px;
    border: ridge;
}

/* Navigation Bar */
.navigation-bar{
    display: flex;
    flex-wrap: wrap;

    min-height: 55px;
    background-color: rgb(88, 76, 101);
    
    margin-bottom: 1%;

    border: groove;
    border-width: 10px;

    padding: 0.25%;

    text-align: center;
    font-size: 45px;
    color: rgb(250, 250, 250);
}

.navigation-bar a {
    flex-grow: 2;
    font-weight: bold;
}


/* Short About Me Section */
.about-me-short{
    display: flex;

    border: groove;
    border-width: 10px;

    padding: 0.25%;

    background-color: rgb(130, 112, 148);
}

.about-me-text{

    min-width: 50%;
    color: rgb(250, 250, 250);
}


/* WebRing Links */
.webring-links{
    background-color: chocolate;
}

.webring-links a {
    font-size: 16px;
    color: cyan;
}
